.container {
    height: 60vh;
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;

    
}
.box {
    border: 1px solid black;
    height: 250px;
    width: 250px;
    margin: 1rem;
}
.first{ 
    border: 1px solid green;
    display: flex;
    
}
.second {
    border: 1px solid yellow;
    display: flex;
}
@media screen and (max-width: 500px) {
    .first,.second {
        flex-direction: column;
    }
    .box {
        width: 350px;
    }
}