body {
    margin: 0px;
    font-family: sans-serif;
  }
  .game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
  }
  #count,
  #counts {
    color: red;
  }
  .container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-row-gap: 50px; */
    /* grid-row-start: 1;
    grid-row-end: 4; */
  }
  .reveal {
    /* grid-row-start: 1;
    grid-row-end: 4; */
    border: 1px solid rgb(226, 165, 32);
    background-image: linear-gradient(120deg, red, rgb(214, 159, 7), transparent);
    padding: 25px 45px;
    margin: 10px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .boxes {
    background: white;
    transition: all 0.3s ease;
    border: white;
    box-shadow: 5px 5px 5px grey;
    transform: translateY(180deg);
    transform: rotateY(180deg);
  }
  .another {
    background: white;
    transition: all 0.3s ease;
    border: white;
    box-shadow: 5px 5px 5px grey;
    /* transform: translateY(180deg); */
    transform: rotateY(180deg);
  }
  .testColor {
    background: white;
    transition: all 0.3s ease;
    border: white;
    box-shadow: 5px 5px 5px grey;
    /* transform: translateY(180deg); */
    transform: rotateY(180deg);
  }
  .food {
    font-size: xx-large;
    visibility: hidden;
  }
  .foods {
    visibility: visible;
  }
  .cars {
    color: rgb(7, 179, 79);
  }
  .books {
    color: rgb(196, 116, 13);
  }
  .planes {
    color: rgb(10, 193, 196);
  }
  .cakes {
    color: rgb(77, 54, 25);
  }
  .fries {
    color: rgb(214, 214, 35);
  }
  .chesses {
    color: rgb(84, 85, 25);
  }
  .same {
    display: none;
  }
  @media (max-width: 500px) {
    .game {
      width: 100%;
    }
    .container {
      display: grid;
      grid-template-columns: auto auto auto;
    }
    .reveal {
      width: 10px;
      height: 10px;
      margin: 5px;
      padding: 30px 30px;
    }
  }
  /* .reveal:hover {
    background: white;
    box-shadow: 5px 5px whitesmoke;
    transition: all 0.5s ease;
    visibility: visible;
  } */
  /* .books:hover,
  .planes:hover,
  .cakes:hover,
  .books:hover,
  .cars:hover,
  .tacos:hover,
  .chesses:hover,
  .sodas:hover,
  .fries:hover {
    visibility: visible;
  } */
  