li {
    list-style-type: none;
    
}
li a {
    text-decoration: none;
    color: grey;
}
div {
    display: inline-block;
    margin: 10px;
}
.container5 {
    margin-left: 100px;
    display: inline-block;
}
img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
img , .jedan {
    display: inline-block;
}