* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.boxes {
    border: 1rem solid black;
}
.box {
    padding: 5rem;
    
}
.box1 {
    background-color: chartreuse;
    grid-column-start: 1;
    grid-column-end: 3;
}
.box2 {
    background-color: chocolate;
}
.box3 {
    background-color: cornflowerblue;
}
.box4 {
    background-color: darkgreen;
    grid-column-start: 2;
    grid-column-end: 4;
}
.box5 {
    background-color: darkorchid;
    display: none;
}
.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}