body {
    background-color: red;

}

@media screen and (max-width: 600px) {
 body {
     background-color: green;
    }
}
@media screen and (min-width: 1000px) {
    body {
        background-color: blue;
       }
   }
   