p{
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from{
        margin-left: 100%;
        width: 300%;
    }
    /* 75% {
        margin-left: 25%;
        width: 150px;
    } */
    to{
        margin-left: 0%;
        width: 100%;
    }
}
#ballon {
    animation-duration: 3s;
    animation-name: balon;
    animation-iteration-count: 2;
}

@keyframes balon {
    from{
        margin-left: 100%;
        width: 300px;
    }
    to {
        margin-left: 0px;
        width: 100px;
    }
}