body {
  background-image: linear-gradient(120deg, #5f57d1, #c065c0);
}
.dy {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.st {
  display: flex;
  justify-content: center;
  align-items: center;
}
.st2 {
  text-align: center;
}
#bt {
  border: 1px solid black;
  color: white;
  padding: 15px;

  background-color: black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#bt:hover {
  background-color: rgb(0, 204, 255);
  color: black;
  border: 1px solid rgb(0, 204, 255);
  transition: all 0.4s ease;
}

#words {
  padding: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid white;
}
.btn {
  display: flex;
  justify-content: end;
  align-items: center; 
  border: 1px solid white;
  background-color: white;
  margin: 5px;
  padding: 20px;
}
.del {
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 20px 10px;
  width: 50vh;
  margin: 0px;
}
.del:hover {
  background-color: blueviolet;
  border: 1px solid blueviolet;
}
.check {
  color: white;
  border: 1px solid green;
  background-color: green;
  padding: 20px 10px;
  margin-left: 20px;
  width: 50vh;
}
.check:hover {
  background-color: chartreuse;
  transition: all 0.5s ease;
  border: 1px solid chartreuse;
}
/* .del,
.check {
  flex: 2;
} */
.falling {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
