body{
    background-image: url(work.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient("#1b1b32",transparent);
}
/* .main {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 48, 175);
    padding: 20px;
    margin: 100px;
}
#title,#description{
    color:white;
    text-align: center;
}
p{
    color: white;
}
.inp,.opt {
    padding: 10px 100px;
    border-radius: 5px;
    border: 1px solid white;
}
#survey-from{
    font-size: 30px;
}